<nav class="navbar">
  <div class="navbar-brand">
    <a href="/main">WeatherWear</a>
  </div>

  <div class="navbar-text">
    <a class="navbar-link" href="/dateLog/all">My History | </a>
    <a class="navbar-link" href="/logout">Sign Out</a>
  </div>
</nav>

<div class="inputs-body">
    {{#if dateLogs}}
    <ol>
      {{#each dateLogs as |input|}}
      <li>
        <div class="inputstuff text-center">
          <p class="inputstuff input-date">{{input.date}}</p>
          <p class="inputstuff input-location">{{input.location}}</p>
          <p class="inputstuff input-userfeels">{{input.userFeels}}</p>
          <a class="inputstuff input-link" href="/dateLog/show/{{input._id}}">Read More</a>

          <p><form method="POST" action="/dateLog/{{input._id}}?_method=DELETE">
            <button class="btn trash-button" id="trash" Onclick="return confirm('Are you sure you want to delete this input?');"><i class="fa fa-trash"></i> </button>
          </form></p>
        </div>
      </li>
      {{/each}}
    </ol>

  {{else}}
  <div class="no-user-input">
    <h2>{{message.first}}</h2>
    <h3>{{message.second}}</h3>

    <div onclick="create()">
      <div class="all-create">
        <h4>CREATE</h4>
      </div>
    </div>
  </div>

  {{/if}}

  <!-- <div id="calendarThis"> </div>
  <script src="/javascripts/calendar.js"></script>
  <link rel='stylesheet' href='/stylesheets/cal.css' /> -->

</div>

<script>
// function call to check that there is no input from today before allowing user to create
function create(){
  let parser = document.createElement('a');
  parser.href = window.location.href;
  let http = parser.protocol;
  let hostname = parser.hostname;
  window.location.href = http+"//"+hostname+'/dateLog/new';
  // window.location.href = 'http://localhost:3000/dateLog/new';
}


function eventGet(){
  const loc = document.querySelectorAll('.input-location');

  for(let i = 0; i < loc.length; i++){
    lengthCheck(loc[i])
  }

};

function lengthCheck(obj){
  const $numWords = obj.textContent.length;
  // const $numWords = 14;

  if (($numWords >= 1) && ($numWords < 70)) {
    obj.style.fontSize = "17px"
  }
  else {
    obj.style.fontSize = "15px"
  }
}

eventGet();
</script>
