<div class="inputs-body">
    <ol>
    {{#each dateLogs as |input|}}
    <li><div class="section content inputs summary">
      <!-- <h3 class="input-name">{{input.date}}</h3> -->
        <h3>This is an input</h3>
        <div class="input-stuff">
          <p class="inputstuff input-date">Date: {{input.date}}</p>
          <p class="inputstuff input-date">Location: {{input.location}}</p>
          <a class="inputstuff input-link" href="/dateLog/show/{{input._id}}">Read More</a>
        </div>
      <!-- <form class="form" method="POST" action="/inputs?_method=DELETE">
        <input style="visibility: hidden; margin:-90px;" name="delete_id" value="{{this._id}}" >
        <button class="btn" id="trash" Onclick="return confirm('Are you sure you want to delete this input?');"><i class="fa fa-trash"></i> </button>
      </form> -->
    </div>
  </li>
    {{/each}}
    </ol>

  </div>
