<div class="filtered-body">
  <ol>
    {{#each results as |result|}}
    <li><div class="content inputs summary">
      <h3>This is a filtered log.</h3>
      <div class="section log-stuff">
        <p class="logstuff log-date">Date: {{result.dateLogs.date}}</p>
        <p class="logstuff log-date">Location: {{result.dateLogs.location}}</p>
        <p class="logstuff log-avetemp">Average Temperature: {{result.weathers.avetemp}}°F</p>
        <a class="logstuff log-link" href="/dateLog/show/{{result.dateLogs._id}}">Read More</a>
      </div>
    </div>
  </li>
  {{/each}}
</ol>

<h3>{{message}}</h3>

</div>
