<nav class="navbar">
  <div class="navbar-brand">
    <a href="/main">WeatherWear</a>
  </div>

  <div class="navbar-text">
    <a class="navbar-link" href="/dateLog/all">My History | </a>
    <a class="navbar-link" href="/logout">Sign Out</a>
  </div>
</nav>

<div class="filtered-body container-fluid">
  <div class="row">
    <ol>
      {{#each results as |result|}}
      <li>
        <div class="section log-stuff text-center">
          <h2 class="logstuff log-avetemp">{{result.weathers.avetemp}}°F</h2>
          <p class="logstuff log-date" style="letter-spacing: 1px; color: black;">{{result.dateLogs.date}}</p>
          <p class="logstuff log-date" style="margin-top: -10px;">{{result.dateLogs.location}}</p>
          <a class="logstuff log-link" href="/dateLog/show/{{result.dateLogs._id}}">READ MORE</a>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>

  <div class="no-user-input">
    <h2>{{message.first}}</h2>
    <h3>{{message.second}}</h3>
  </div>

</div>
