<div class="filtered-body">

  {{#each results as |result|}}
  <div class="content inputs summary">
    <ol>
      <h3><li>This is a filtered log.</li></h3>
      <div class="log-stuff">
        <p class="logstuff log-date">Date: {{result.dateLogs.date}}</p>
        <p class="logstuff log-date">Location: {{result.dateLogs.location}}</p>
        <pclass="logstuff log-avetemp">Average Temperature: {{result.weathers.avetemp}}°F</p>
        <a class="logstuff log-link" href="/dateLog/show/{{result.dateLogs._id}}">Read More</a>
      </div>
    </ol>
    <!-- <form class="form" method="POST" action="/inputs?_method=DELETE">
    <input style="visibility: hidden; margin:-90px;" name="delete_id" value="{{this._id}}" >
    <button class="btn" id="trash" Onclick="return confirm('Are you sure you want to delete this input?');"><i class="fa fa-trash"></i> </button>
  </form> -->
</div>
{{/each}}

<h3>{{message}}</h3>


</div>
