<nav class="navbar">
  <div class="navbar-brand">
    <a href="/main">WeatherWear</a>
  </div>

  <div class="navbar-text">
    <a class="navbar-link" href="/dateLog/all">My History | </a>
    <a class="navbar-link" href="/logout">Sign Out</a>
  </div>
</nav>

<div class="filtered-body container-fluid">
  <div class="row">
    {{#if results}}
    <ol>
      {{#each results as |result|}}
      <li>
        <div class="section log-stuff text-center">
          <h2 class="logstuff log-avetemp">{{result.weathers.avetemp}}°F</h2>
          <p class="logstuff log-date" style="letter-spacing: 1px; color: black;">{{result.dateLogs.date}}</p>
          <p class="logstuff log-loc" style="margin-top: -10px;">{{result.dateLogs.location}}</p>
          <p class="logstuff log-userfeels">{{result.dateLogs.userFeels}}</p>
          <a class="logstuff log-link" href="/dateLog/show/{{result.dateLogs._id}}">READ MORE</a>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>

  {{else}}
  <div class="no-user-input text-center">
    <h2>{{message.first}}</h2>
    <h3>{{message.second}}</h3>
  </div>

  {{/if}}
</div>

<script>
function eventGet(){
  const loc = document.querySelectorAll('.log-loc');

  for(let i = 0; i < loc.length; i++){
    lengthCheck(loc[i])
  }

};

function lengthCheck(obj){
  const $numWords = obj.textContent.length;
  // const $numWords = 14;

  if (($numWords >= 1) && ($numWords < 70)) {
    obj.style.fontSize = "17px"
  }
  else {
    obj.style.fontSize = "15px"
  }
}

eventGet();
</script>
