<nav class="navbar">
  <div class="navbar-brand">
    <a href="/main">WeatherWear</a>
  </div>

  <div class="navbar-text">
    <a class="navbar-link" href="/dateLog/all">My History | </a>
    <a class="navbar-link" href="/logout">Sign Out</a>
  </div>
</nav>

<div class="section selected-body">
  <div class="section selected-inputs">
    <h4>{{dateLog.date}}</h4>
    <h5>{{dateLog.location}}</h5>
    <h2>{{weather.avetemp}}°F</h2>

    <div class="temp-all">
      <div class="temp-words">
        <p>Average Wind Chill: </p>
        <p>Feels like: </p>
      </div>

      <div class="temp-info">
        <p>{{weather.avgwindchill}}</p>

        <div class="temp-feels">
          <p><b>{{weather.highfeels}}</b></p>
          <p>{{weather.lowfeels}}</p>
        </div>

      </div>
    </div>

    <div class="section selected-outfits">
    <div class="section selected-details">
      <div class="section clothes-label">
        <p>Top: </p>
        <p>Bottom: </p>
        <p>Outerwear: </p>
        {{#if dateLog.others}}
        <p>Others: </p>
        {{/if}}
      </div>
      <div class="section clothes-content">
        <p>{{dateLog.top}}</p>
        <p>{{dateLog.bottom}}</p>
        <p>{{dateLog.outerwear}}</p>
        {{#if dateLog.others}}
        <p>{{dateLog.others}}</p>
        {{/if}}
      </div>
    </div>
    <div class="section selected-feels-only">
    <h5>You felt </h5>
    <h5 class="major-feels">{{dateLog.userFeels}}</h5>
  </div>
  </div>

  </div>
</div>
