
<div class="inputs-body">
  <h4>You selected dateLog created on: {{dateLog.date}}</h4>
  <h5>You were at: {{dateLog.location}}</h5>

  <p>Top: {{dateLog.top}}</p>
  <p>Bottom: {{dateLog.bottom}}</p>
  <p>Outerwear: {{dateLog.outerwear}}</p>
  <p>Others: {{dateLog.others}}</p>
  <p>Top: {{dateLog.top}}</p>
  <p>You felt: {{dateLog.userFeels}}</p>
  <p>Average Wind Chill: {{{weather.avgwindchill}}}</p>
  <p>High Feels Like: {{weather.highfeels}}</p>
  <p>Low Feels Like: {{weather.lowfeels}}</p>
  <p>Average temperature: {{weather.avetemp}}°F</p>
  </div>
