<nav class="navbar">
  <div class="navbar-brand">
    <a href="/main">WeatherWear</a>
  </div>

  <div class="navbar-text">
    <a class="navbar-link" href="/dateLog/all">My Logs | </a>
    <a class="navbar-link" href="/logout">Sign Out</a>
  </div>
</nav>

<div class="section selected-body">
  <div class="section selected-inputs">
    <h4>{{dateLog.date}}</h4>
    <h5>{{dateLog.location}}</h5>
    <h2>{{weather.avetemp}}°F</h2>

    <div class="temp-all">
      <div class="temp-words">
        <p>Average Wind Chill: </p>
        <p>Feels like: </p>
      </div>

      <div class="temp-info">
        <p>{{weather.avgwindchill}}</p>

        <div class="temp-feels">
          <p><b>{{weather.highfeels}}</b></p>
          <p>{{weather.lowfeels}}</p>
        </div>

      </div>
    </div>

    <!-- <div class="weather-wind">
    <p>Average Wind Chill: </p>
    <p>{{weather.avgwindchill}}</p>
  </div>

  <div class="weather-feels" style="margin-top: 2px;">
  <p>Feels like: </p>
  <p><b>{{weather.highfeels}}</b></p>
  <p>{{weather.lowfeels}}</p>
</div> -->


<div class="section selected-details selected-outfit">
  <h3><b>*Still needs styling*</b></h3>
  <p>Top: {{dateLog.top}}</p>
  <p>Bottom: {{dateLog.bottom}}</p>
  <p>Outerwear: {{dateLog.outerwear}}</p>
  <p>Others: {{dateLog.others}}</p>
  <p>Top: {{dateLog.top}}</p>
  <p>You felt: {{dateLog.userFeels}}</p>
</div>

</div>
</div>
